<%- get_template_part('/np-content/admin/header',viewContext) %>

<section class="flex">

    <%- get_template_part('/np-content/admin/components/sidebar',viewContext) %>
    <script>
        const adminURL = "<%= adminURL %>";
        const cpts = [
           <% for (cpt of data.cpts) { %>
                {
                    id: "<%= cpt.id %>",
                    title: "<%= cpt.title %>",
                    slug: "<%= cpt.slug %>",
                    use_rest: "<%= cpt.use_rest %>",
                    top_level: "<%= cpt.top_level %>",
                    basic_editor: "<%= cpt.basic_editor %>",
                    page_builder: "<%= cpt.page_builder %>",
                },
         <% } %>
        ]
    </script>
        <div class="dash-main">

            <h1>Custom Post Types</h1>
            
            <table width="100%">
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Display In Rest</th>
                    <th>Use Basic Editor</th>
                    <th>Use Page Builder</th>
                    <th>Top Level</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
               
                <% for (cpt of data.cpts) { %>
                    <tr data-id="<%= cpt.id %>">
                        <td><%= cpt.title %></td>
                        <td><%= cpt.slug %></td>
                        <td> <%= cpt.use_rest %></td>
                        <td> <%= cpt.basic_editor %></td>
                        <td> <%= cpt.page_builder %></td>
                        <td> <%= cpt.top_level %></td>
                        <td><button class="edit-cpt btn btn-primary">Edit</button></td>
                        <td><button class="delete-cpt btn btn-red">Delete</button></td>
                        <td><button class="destroy-cpt btn btn-d-red">Destroy </button></td>
                    </tr>
                <% } %>
            </table>

            <div class="pagination">
                <ul class="pages flex">
                    
                    <li><a href="/<%= adminURL %>/cpt/view-all">1</a></li>
                    
                    <% for(let i = 2; i < data.numPages; i ++) { %>
                        <li><a href="/<%= adminURL %>/cpt/view-all/<%= i %>"><%= i %></a></li>
                    <% } %>    
                
                </ul>
            </div>

            <div class="popup" id="delete-cpt-popup">
                 <button class="close-popup">X</button>
                 <h1>Are you sure you want to delete this cpt?</h1>
                 <button id="delete-cpt" class="btn btn-primary">Delete</button>
            </div>

             <div class="popup" id="destroy-cpt-popup">
                 
                 <button class="close-popup">X</button>
                 <h1>Are you sure you want to destroy this cpt?</h1>
                 <p>All posts assicoaiated with this cpt will be deleted!</p>
                 <button id="destroy-cpt" class="btn btn-primary">Destroy</button>
            
            </div>
                  
            <div class="popup" id="edit-cpt">
                
                <h1>Edit CPT</h1>
                <button class="close-popup">X</button>
              
                <label>Title</label>
                <input name="title" value=""/>
                <label>Slug</label>
                <input name="slug"/>

                <label>Top Level Route</label>
                <input name="use_rest" type="checkbox"/>
               
                <label>Use Rest</label>
                <input name="use_rest" type="checkbox"/>
                
                <label>Use Basic Editor</label>
                <input name="basic_editor" type="checkbox"/>
                
                <label>Use Page Builder</label>
                <input name="page_builder" type="checkbox"/>

                <button id="update_cpt" class="btn-medium btn-primary">Update</button>
            </div>
        </div>

</section>

<%- get_template_part('/np-content/admin/footer',viewContext) %>